/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height:100%;
}

/* Apply a natural box layout model to all elements */
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }


  /* ---------------------- BODY ---------------------- */
body {
    height:100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}

div#root {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 50px;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}

 /* ---------------------- HEADER ---------------------- */
header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);

    .app-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 100px;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}


 /* ---------------------- NAVIGATION ---------------------- */



  /* ---------------------- MAIN ---------------------- */
  main {
    grid-area: main;
    display: block;
    margin: 0 $gutter 0 $gutter;
    padding: 1rem $gutter 0 $gutter;

    p {
        padding-bottom: 15px;
    }
  }

  .main__page-loading-wrapper--true {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 100px;
    left: 0;
    z-index: 999;
    background: white;
    opacity: 0.9;
  }

  .main__page-loading-wrapper--false {
      display: none;
  }

  .main__page-loading-wrapper__page-loading-container {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        flex-grow: 0.4;
      }
  }

   /* ---------------------- FOOTER ---------------------- */
   footer {
    grid-area: footer;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    padding: 0.5rem 0 0.5rem $gutter;
  }