$primaryColor: #282c34;

$spinnerColor: $primaryColor;
$headerBackgroundColor: $primaryColor;
$headerForeColor: #fff;
$mainBackgroundColor: #fff;
$mainForeColor: $primaryColor;
$footerBackgroundColor: $headerBackgroundColor;
$footerForeColor: $headerForeColor;

$spinnerColorAlt: #61DAFB;
$headerBackgroundColorAlt: lighten($primaryColor, 25%);
$headerForeColorAlt: #61DAFB;
$mainBackgroundColorAlt: #61DAFB;
$mainForeColorAlt: #282c34;
$footerBackgroundColorAlt: $headerBackgroundColorAlt;
$footerForeColorAlt: $headerForeColorAlt;

:export {
    spinnerColor: $spinnerColor;
    headerBackgroundColor: $headerBackgroundColor;
    headerForeColor: $headerForeColor;
    mainBackgroundColor: $mainBackgroundColor;
    mainForeColor: $mainForeColor;
    footerBackgroundColor: $footerBackgroundColor;
    footerForeColor: $footerForeColor;

    spinnerColorAlt: $spinnerColorAlt;
    headerBackgroundColorAlt: $headerBackgroundColorAlt;
    headerForeColorAlt: $headerForeColorAlt;
    mainBackgroundColorAlt: $mainBackgroundColorAlt;
    mainForeColorAlt: $mainForeColorAlt;
    footerBackgroundColorAlt: $footerBackgroundColorAlt;
    footerForeColorAlt: $footerForeColorAlt;
}

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;
$gutter: 2%;
$gutterdbl: (2 * $gutter);